*{
    color: rgb(131, 131, 131);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
}

.name{
    font-weight: 100;
    font-size: 100px;
    color: rgb(105, 170, 170);
}

.about-text{
    margin-top: 10px;
    font-size: 30px;
    color: rgb(90, 93, 97);
}

.site-body{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.c-button{
    border-radius: 20px;
    border: 2px rgb(72, 72, 72) solid;
    height: 50px;
    font-size: 20px;
    width: 250px;
    background: none;
    margin: 0 auto;
}

.c-button:hover{
    border: 2px rgb(65, 188, 78) solid;
    transition: all 0.2s;
}

@media screen and (max-width: 1200px) {
    *{
       font-weight: 400;
    }
    .c-button{
        height: 80px;
        font-size: 30px;
        width: 400px;
    }
    .site-body{
        margin-top: 50px;
    }
    .name{
        font-size: 65px;
    }
    .about-text{
        font-size: 30px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .s-button{
        font-size: 20px;
    }
}